@model team7_ssis.ViewModels.RetrievalDetailsViewModel
@{
    ViewBag.Title = "RetrievalDetails";
}

<h2>Retrieval Form #@Request.QueryString["retId"]</h2>

<div id="alert"></div>

<div class="row mb-3">
    <div class="col-md-3">
        <div class="label">Product ID</div>
        @Model.ProductID
    </div>
    <div class="col-md-6">
        <div class="label">Name</div>
        @Model.Name
    </div>
    <div class="col-md-3">
        <div class="label">Bin</div>
        @Model.Bin
    </div>
</div>

<h3>Breakdown by Department</h3>
<p class="mb-3">Changing the Actual quantity collected will modify the affected Disbursement List.</p>

<table id="myTable" class="table table-striped table-bordered" style="width: 100%">
    <thead>
        <tr>
            <th>Dept ID</th>
            <th>Department Name</th>
            <th>Needed</th>
            <th>Actual</th>
        </tr>
    </thead>

</table>

@if (Model.Status == 7)
{
    <div class="row mt-3">
        <div class="col-md-12">
            <button id="saveBtn" class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
        </div>
    </div>
}

<script>
    var table;

    $(document).ready(function () {
        table = $('#myTable').DataTable({
            ajax: {
                url: "/api/retrievaldetails",
                method: "POST",
                data: {
                    retId: "@Request.QueryString["retId"]",
                    itemId: "@Request.QueryString["itemId"]"
                },
                dataSrc: ""
            },
            columns: [
                { "data": "DeptId", "autoWidth": true },
                { "data": "DeptName", "autoWidth": true },
                { "data": "Needed", "autoWidth": true },
                // TODO: set the maximum value of the input to be the same as Needed
                @if (Model.Status == 17 )
                {
                <text>
                {
                    "data": "Actual",
                    "autoWidth": true,
                    "render": function (data, type, row, meta) {
                        'value="' + data + '" min="0" max="' + row.Needed + '"/>';
                                    console.log(row);
                        var html = '<input class="actual" type="number" id="height" name="actual"' +
return html;
                    }
                },
                </text>
                } else {
                <text>
                { "data" : "Actual" }
                </text>
                }
                
            ],
            select: "api"
        });
    });

    // change the value of the cell in the datatable with an input field
    $(document).on("change", ".actual", function () {
        // grab the cell that the td refers to, which is the parent of the <input> element
        var cell = table.cell(this.parentElement);
        // assign the cell with the value from the <input> element
        cell.data($(this).val()).draw();
    });

    $('#saveBtn').click(function (e) {
        e.preventDefault();
        var tableData = $('#myTable').DataTable().rows().data().toArray();

        var bdByDept = [];
        for (i = 0; i < tableData.length; i++) {
            bdByDept[i] = { DeptId: tableData[i].DeptId, Actual: tableData[i].Actual }
        }

        // create your data
        var data = {
            RetId: "@Request.QueryString["retId"]",
            ItemCode: "@Request.QueryString["itemId"]",
            List: bdByDept
        };

        // call the appropriate controller with the data
        $.ajax({
            type: "POST",
            contentType: 'application/json',
            url: "/api/updateretrievalform",
            data: JSON.stringify(data),
            success: function () {
                console.log("success");
                $('#alert').html(
                    '<div class="alert alert-info alert-dismissible fade show" role="alert">' +
                        'Disbursement information updated.' +
                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                            '<span aria-hidden="true">&times;</span>' +
                        '</button>' +
                    '</div > ');
            },
            error: function (msg) {
                console.log("fail");
                $('#alert').html(
                    '<div class="alert alert-danger alert-dismissible fade show" role="alert">' +
                        'An unexpected error occured.' +
                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                        '<span aria-hidden="true">&times;</span>' +
                        '</button>' +
                    '</div > ');
            }
        });

    })

</script>