
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary" id="myNav">
    <div class="navbar-header">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        @Html.ActionLink("Stationery Shop", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
    </div>
    <div class="navbar-collapse collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            @if (User.Identity.IsAuthenticated)
            {
                //Part1:Requistion
                if (!(User.IsInRole("Employee") && User.Identity.Name != Session["rep"].ToString()))
                {

                    if ((User.IsInRole("Employee") && User.Identity.Name == Session["rep"].ToString()) || User.IsInRole("Admin"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Requisitions</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown01">
                                @Html.ActionLink("Create Requisition", "CreateRequisition", "Requisition", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("Manage Requisitions", "ManageRequisitions", "Requisition", null, new { @class = "dropdown-item" })
                            </div>
                        </li>
                    }
                    if (User.IsInRole("DepartmentHead") || User.IsInRole("Store Clerk"))
                    {
                        <li class="nav-item"> @Html.ActionLink("Requisition", "ManageRequisitions", "Requisition", null, new { @class = "nav-link" })</li>
                    }

                }
                //Part2:Retrieval

                if (User.IsInRole("Store Clerk") || User.IsInRole("Store Supervisor") || User.IsInRole("Store Manager") || User.IsInRole("Admin"))
                {
                    <li class="nav-item">@Html.ActionLink("Retrieval", "Manage", "Retrieval", null, new { @class = "nav-link" })</li>
                }
                //Part3:Disbursement
                if (User.IsInRole("Store Clerk") || User.IsInRole("Store Supervisor") || User.IsInRole("Store Manager") || User.IsInRole("Admin"))
                {
                    <li class="nav-item">@Html.ActionLink("Disbursement", "Manage", "Disbursement", null, new { @class = "nav-link" })</li>
                }

                //Part4:Inventory
                if (User.IsInRole("Store Clerk") || User.IsInRole("Store Supervisor") || User.IsInRole("Store Manager") || User.IsInRole("Admin"))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="3" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Inventory</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            @Html.ActionLink("View Inventory Shortfall", "Shortfall", "Inventory", null, new { @class = "dropdown-item" })
                            <div class="dropdown-divider"></div>
                            @if (User.IsInRole("Store Clerk") || User.IsInRole("Admin"))
                            {
                                @Html.ActionLink("Make Stock Adjustment", "New", "StockAdjustment", null, new { @class = "dropdown-item" })

                            }
                            @Html.ActionLink("Manage Stock Adjustments", "Index", "StockAdjustment", null, new { @class = "dropdown-item" })
                            <div class="dropdown-divider"></div>
                            @Html.ActionLink("Manage Inventory", "Index", "Inventory", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Manage Item Categories", "Index", "ItemCategory", null, new { @class = "dropdown-item" })
                        </div>
                    </li>
                }
                //Part5:Purchase Orders
                if (User.IsInRole("Store Clerk") || User.IsInRole("Store Supervisor") || User.IsInRole("Store Manager") || User.IsInRole("Admin"))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Purchase Orders</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown02">
                            @Html.ActionLink("Generate Purchase Orders", "Generate", "PurchaseOrder", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Manage Purchase Orders", "Index", "PurchaseOrder", null, new { @class = "dropdown-item" })
                            <div class="dropdown-divider"></div>
                            @Html.ActionLink("Receive Goods", "Index", "DeliveryOrder", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Manage Delivery Orders", "ReceiveGoods", "DeliveryOrder", null, new { @class = "dropdown-item" })
                        </div>
                    </li>
                }
                //Part6:Suppliers

                if (User.IsInRole("Store Clerk") || User.IsInRole("Store Supervisor") || User.IsInRole("Store Manager") || User.IsInRole("Admin"))
                {
                    <li class="nav-item">@Html.ActionLink("Suppliers", "Index", "Supplier", null, new { @class = "nav-link" })</li>
                }

                //Part7:Departments
                if ((User.IsInRole("Employee") && User.Identity.Name == Session["rep"].ToString()) || User.IsInRole("DepartmentHead") || User.IsInRole("Store Clerk") || User.IsInRole("Store Supervisor") || User.IsInRole("Store Manager") || User.IsInRole("Admin"))
                {

                    if (User.IsInRole("DepartmentHead") || User.IsInRole("Store Clerk") || User.IsInRole("Store Supervisor") || User.IsInRole("Store Manager") || User.IsInRole("Admin"))
                    {
                        <li class="nav-item">@Html.ActionLink("Departments", "Index", "Department", null, new { @class = "nav-link" })</li>}
                    if (User.IsInRole("Employee") && User.Identity.Name == Session["rep"].ToString())
                    {
                        <li class="nav-item">@Html.ActionLink("Department Options", "DepartmentOptions", "Department", null, new { @class = "nav-link" })</li>
                    }

                }
                //Part8:Reports
                if (User.IsInRole("Store Supervisor") || User.IsInRole("Store Manager") || User.IsInRole("Admin"))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Reports</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown03">
                            @Html.ActionLink("Department Usage Statistics", "DepartmentUsage", "Report", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Store Operation Statistics", "StoreOperations", "Report", null, new { @class = "dropdown-item" })
                        </div>
                    </li>
                }
            }
        </ul>
        @Html.Partial("_LoginPartial")
    </div>
</nav>