@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.0/js/bootstrap-select.min.js"></script>
    <script src="~/Scripts/Custom/DeliveryOrder.js"></script>
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="~/Content/Site.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.0/css/bootstrap" />

@model team7_ssis.ViewModels.PurchaseOrderViewModel


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Receive Goods</title>
</head>

<body>
    <div class="col-md-8">

        <h2>Receive Goods</h2>
        @Html.Hidden("poNo", Model.PurchaseOrderNo)

    </div>
    <h1>Submit delivery order forms & invoices and update inventory</h1>

    <div class="modal-footer">

        <button id="VRDObtn" type="button" class="btn btn-default pull-right">View Related Delivery Order</button>

    </div>
   
    <table class="table table-striped table-bordered" style="width: 100%">
        <thead>
            <tr>
                <td>Purchase Order #</td>
                <td> Supplier Name</td>
                <td>Order Date</td>
            </tr>
        </thead>
        <tr>
            <td>@Html.DisplayFor(model => model.PurchaseOrderNo)</td>
            <td>@Html.DisplayFor(model => model.SupplierName)</td>
            <td>@Html.DisplayFor(model => model.CreatedDate)</td>
        </tr>
    </table>

    <button id="Viewbtn" class="btn btn-default mb-3">View</button>

    <br /><br />
    @Html.Partial("_OutstandingItemsTable")

    <h3>Submit forms to Bursar</h3>
    <h2>Forms will be routed to Bursar's department for payment to vendor</h2>

    <table>
        <tr>
            <td>Upload Delivery Order</td>
            <td>
                <input type="file" name="DeliveryOrderFile" />
            </td>
        </tr>
        <tr>
            <td>Upload Invoice</td>
            <td>
                <input type="file" name="InvoiceFileName" />
            </td>
        </tr>
    </table>
    <div class="row mt-3">
        <div class="col-md-12">
            <table>
                <tr>
                    <td>
                        @*@using (Html.BeginForm("Save", "DeliveryOrder", FormMethod.Post, new { Id = "DeliveryOrder" }))
                            {@Html.TextBoxFor(model => model.PurchaseOrderNo, new { Id = "purorderno", type = "hidden" })
                            <input type="submit" name="Submit" value="Submit" />}*@
                        <div class="modal-footer">

                            <button id="submitbtn" type="button" class="btn btn-primary">Submit</button>

                        </div>
                    </td>
                    <td>
                        @using (Html.BeginForm("Index", "DeliveryOrder", FormMethod.Post, new { Id = "Form1" }))
                        {<button class="btn btn-primary">Cancel</button>}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>

