@using team7_ssis.ViewModels
@model StockAdjustmentDetailListViewModel

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <link rel="stylesheet" href="~/Content/Site.css">

</head>

<body>
    <h2>Stock Adjustments Details</h2>
    <table border="1" bgcolor="grey">
        <tr>
            <td width="100"> @Model.StockAdjustmentModel.StockAdjustmentId </td>
            <td width="400"> @Model.StockAdjustmentModel.CreatedBy  </td>
            <td width="400"> @Model.StockAdjustmentModel.UpdateDateTime </td>
        <tr>
            <td width="400">   </td>
            <td width="400">@Model.StockAdjustmentModel.ApprovedBySupervisor  </td>
            <td width="400">@Model.StockAdjustmentModel.CreatedBy   </td>
        </tr>

    </table>

    <table>

        <thead>
            <tr>
                <th width="200">Item Code</th>
                <th width="200">Description</th>
                <th width="200"> Reason</th>
                <th width="200">Unit Price</th>
                <th width="200">Adjustment</th>
            </tr>
        </thead>
        <tbody>
            @foreach (StockAdjustmentDetailViewModel detail in Model.StockAdjustmentDetailsModel)
            {
                <tr>
                    <td>@detail.ItemCode  </td>
                    <td>@detail.Description </td>
                    <td>@detail.Reason</td>
                    <td style="background-color:@detail.PriceColor">@detail.UnitPrice</td>
                    <td>@detail.Adjustment</td>
                </tr>
            }

        </tbody>

    </table>

    <a href="/StockAdjustment">
        <input type="button" value=" Back" />
    </a>

</body>

