@model team7_ssis.ViewModels.StockAdjustmentViewModel
@{
    ViewBag.Title = "Details";
}


<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="Editor-1.7.4/css/editor.dataTables.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="~/Content/Site.css">

</head>

<h2>Stock Adjustments Details</h2>
<div>@Html.Hidden("StockAdjustmentId", Model.StockAdjustmentId)</div>


<table border="1" bgcolor="lightgrey">
    <tr>
        <td width="100">Stock Adjustment ID # <br /> @Model.StockAdjustmentId </td>
        <td width="400">Created By <br />  @Model.CreatedBy  </td>
        <td width="400">Time Updated <br /> @Model.UpdateDateTime </td>
    <tr>
        <td width="400">   </td>
        <td width="400"> Authorizing Supervisor <br /> @Model.ApprovedBySupervisor  </td>
        <td width="400">Time Created <br /> @Model.CreatedBy   </td>
    </tr>
</table>


<div>
    @Html.Partial("DetailsEdit")

    @*@Html.Partial("DetailsNoEdit")*@

</div>





