@model team7_ssis.ViewModels.StockAdjustmentViewModel



<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="Editor-1.7.4/css/editor.dataTables.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="~/Content/Site.css">

</head>

<h2>View Stock Adjustment Details</h2>
<div>@Html.Hidden("StockAdjustmentId", Model.StockAdjustmentId)</div>


<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th width="200">Stock Adjustment ID #</th>
            <th width="200">Created By</th>
            <th width="200"> Time Updated</th>
            <th width="200">Authorized By</th>
            <th width="200">Time Created</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>@Model.StockAdjustmentId</th>
            <th> @Model.CreatedBy</th>
            @if (@Model.UpdateDateTime == null)
            {
                <td>  -----</td>}
            @if (@Model.UpdateDateTime != null)
            {
                <td>  @Model.UpdateDateTime </td>}
            @if (@Model.ApprovedBySupervisor == null)
            {
                <td>  -----</td>}
            @if (@Model.ApprovedBySupervisor != null)
            {
                <td>  @Model.ApprovedBySupervisor </td>}
            <th> @Model.CreatedDateTime</th>

        </tr>
    </tbody>
</table>

<table id="myTable" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th width="200">Item Code</th>
            <th width="200">Description</th>
            <th width="200"> Reason</th>
            <th width="200">Unit Price</th>
            <th width="200">Adjustment</th>
        </tr>
    </thead>
</table>

<div class="row mt-3">
    <div class="col-md-12">
        <button class="btn btn-default" id="backBtn">Back</button>
    </div>
</div>


<script>

    $(document).ready(function () {
        var saUrl = $("#StockAdjustmentId").val();

        var oTable = $('#myTable').DataTable({

            ajax: {
                url: "/api/stockadjustment/detail/" + saUrl,
                dataSrc: ""
            },

            columns: [
                {
                    "data": "ItemCode"
                },
                {
                    "data": "Description"
                },
                {
                    "data": "Reason"

                },
                {
                    "data": "UnitPrice"
                },
                {
                    "data": "Adjustment"
                }

            ],
            createdRow: function (row, data, index) {
                if (data['UnitPrice'] > 250) {
                    $('td', row).eq(3).css('font-weight', "bold").css("color", "red");
                }
            },
            autowidth: true,
            select: 'api'

        });




        $('#backBtn').click(function () {
            //direct to home page
            window.location.href = "/StockAdjustment";
        });
    });


</script>
