@model team7_ssis.ViewModels.StockAdjustmentViewModel
@{
    ViewBag.Title = "Details";
}

@section scripts {
    <script src="~/Scripts/Custom/StockAdjustmentDetail.js"></script>

}


<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <link rel="stylesheet" href="~/Content/Site.css">

</head>

<body>
    <h2>Stock Adjustments Details</h2>
    <div>@Html.Hidden("StockAdjustmentId", Model.StockAdjustmentId)</div>


    <table border="1" bgcolor="lightgrey">
        <tr>
            <td width="100">Stock Adjustment ID # <br /> @Model.StockAdjustmentId </td>
            <td width="400">Created By <br />  @Model.CreatedBy  </td>
            <td width="400">Time Updated <br /> @Model.UpdateDateTime </td>
        <tr>
            <td width="400">   </td>
            <td width="400"> Authorizing Supervisor <br /> @Model.ApprovedBySupervisor  </td>
            <td width="400">Time Created <br /> @Model.CreatedBy   </td>
        </tr>
    </table>


    <table id="myTable" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th width="200">Item Code</th>
                <th width="200">Description</th>
                <th width="200"> Reason</th>
                <th width="200">Unit Price</th>
                <th width="200">Adjustment</th>
            </tr>
        </thead>
    </table>

    <div class="row mt-3">
        <div class="col-md-12">
            <button class="btn btn-default" id="cancelBtn">Cancel</button>
            <button class="btn btn-primary" id="confirmBtn">Save</button>
        </div>
    </div>


</body>

<script>
    $('#cancelBtn').click(function () {
        //direct to home page
        window.location.href = "/StockAdjustment";
    });

    $('#confirmBtn').click(function () {


    });
</script>





