@model team7_ssis.ViewModels.StockAdjustmentViewModel
@{
    ViewBag.Title = "StockAdjustment";
}


<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="Editor-1.7.4/css/editor.dataTables.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="~/Content/Site.css">

</head>

<h2>Process Stock Adjustment</h2>
<div>@Html.Hidden("StockAdjustmentId", Model.StockAdjustmentId)</div>


<table border="1" bgcolor="lightgrey">
    <tr>
        <td width="100">Stock Adjustment ID # <br /> @Model.StockAdjustmentId </td>
        <td width="400">Created By <br />  @Model.CreatedBy  </td>
        <td width="400">Time Updated <br /> @Model.UpdateDateTime </td>
    <tr>
        <td width="400">   </td>
        <td width="400"> Authorizing Supervisor <br /> @Model.ApprovedBySupervisor  </td>
        <td width="400">Time Created <br /> @Model.CreatedBy   </td>
    </tr>
</table>


<table id="myTable" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th width="200">Item Code</th>
            <th width="200">Description</th>
            <th width="200"> Reason</th>
            <th width="200">Unit Price</th>
            <th width="200">Adjustment</th>
        </tr>
    </thead>
</table>

<div class="row mt-3">
    <div class="col-md-12">
        <button class="btn btn-default" id="backBtn">Back</button>
        <button class="btn btn-warning" id="rejectBtn">Reject</button>
        <button class="btn btn-primary" id="approveBtn">Approve</button>
    </div>
</div>


<script>

    $(document).ready(function () {
        var saUrl = $("#StockAdjustmentId").val();

        var oTable = $('#myTable').DataTable({

            ajax: {
                url: "/api/stockadjustment/detail/" + saUrl,
                dataSrc: ""
            },

            columns: [
                {
                    "data": "ItemCode"
                },
                {
                    "data": "Description"
                },
                {
                    "data": "Reason",
                     "render": function (data, type, row, meta) {
                        var html = '<input class="actual_1" type="textbox" ' +
                            'value="' + data + '"/>';
                        return html;
                    }
                    
                },
                {
                    "data": "UnitPrice"
                },
                {
                    "data": "Adjustment"
                  
                }
            ],
            createdRow: function (row, data, index) {
                if (data['UnitPrice'] > 250) {
                    $('td', row).eq(3).css('font-weight', "bold").css("color", "red");
                }
            },
            autowidth: true,
            select: 'api'

        });

     

        $('#backBtn').click(function () {
            //direct to home page
            window.location.href = "/StockAdjustment";
        });

        $('#rejectBtn').click(function () {
            //alert(saUrl);
            $.ajax({
                type: "GET",
                contentType: 'application/json',
                url: '/api/stockadjustment/reject/?id=' + saUrl,

                success: function (responseJSON) {
                    window.location.replace("/StockAdjustment");
                }
            });
        });


        $('#approveBtn').click(function () {
           // alert(saUrl);
            $.ajax({
                type: "GET",
                contentType: 'application/json',
                url: '/api/stockadjustment/approve/?id=' + saUrl,

                success: function (responseJSON) {
                    window.location.replace("/StockAdjustment");
                }
            });
        });
    });


</script>






