
@{
    ViewBag.Title = "NewItem";
}

<h2>Add New Inventory Item</h2>


@model team7_ssis.ViewModels.EditItemFinalViewModel

@using (Html.BeginForm("Save", "Inventory", FormMethod.Post, new { @id="itemdetails", enctype = "multipart/form-data" }))
{
    <div style="border-color:black" id="detail1">
        <form id="form1">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="ItemCode">Item Code</label><br />
                        @Html.TextBoxFor(m => m.ItemCode, new { @id = "ItemCode", @class = "form-control" })
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="ItemCode">Item Name</label><br />
                        @Html.TextBoxFor(m => m.ItemName, new { @id = "ItemName", @class = "form-control" })
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="Category">Category</label><br />
                        @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.Categories, "Value", "Text"), new { @class = "form-control" })

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="Description">Item Description</label><br />
                        @Html.TextAreaFor(m => m.Description, new { @id = "Description", @class = "form-control" })
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="Fax">Unit of Measure</label><br />
                        @Html.TextBoxFor(m => m.Uom, new { @id = "Uom", @class = "form-control" })

                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="phone">Bin No</label><br />
                        @Html.TextBoxFor(m => m.Bin, new { @id = "Bin", @class = "form-control" })
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="Fax">Status</label><br />
                        @Html.DropDownListFor(m => m.Status, new SelectList(Model.Statuses, "Value", "Text"), new { @class = "form-control" })
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="Fax">Reorder Level</label><br />
                        @Html.TextBoxFor(m => m.ReorderLevel, new { @id = "ReorderLevel", @class = "form-control" })
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="Fax">Reorder Quantity</label><br />
                        @Html.TextBoxFor(m => m.ReorderQuantity, new { @id = "ReorderQuantity", @class = "form-control" })
                    </div>
                </div>

            </div>


            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="Category">Item Image</label><br />
                        @*<img src="~/Images/pencil1.jpg" alt="Smiley face" height="100" width="100">*@
                        <input type="file" name="ImageFile" id="ImageFile" onchange="show(this)" />
                    </div>
                    <div class="form-group">
                        <img id="user_img" height="130" width="130" style="border:solid" />
                    </div>
                </div>

                <div class="col-sm-3">
                    <table id="suppTable" class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Supplier Name</th>
                                <th>Supplier Unit Price</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>


            <div class="row">
                <div class="button-set">
                    <div class="form-row pull-right">
                        <div style="padding: 10px;">
                            <input type="button" id="cancel-btn" class="btn btn-danger fa-pull-right" value="Cancel">
                        </div>

                        <div style="padding: 10px;">
                            <input type="submit" id="submit" class="btn btn-success fa-pull-right" value="Create">
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>

    <script>
        //for image show
        function show(input) {
            alert('Show');
            if (input.files && input.files[0]) {
                var filerdr = new FileReader();
                filerdr.onload = function (e) {
                    $('#user_img').attr('src', e.target.result);
                }
                filerdr.readAsDataURL(input.files[0]);
            }
        }


        var mine = @Html.Raw(Json.Encode(this.Model));
        var test = mine.SupplierName;
        //alert(test.length);
        var pTable = $('#suppTable').DataTable({
            "searching": false,
            "paging": true,
            "info": false,
            "lengthChange": false,
            "pageLength":'3',
            sAjaxSource: '/api/manage/supplierInfoAll',
            sAjaxDataProp: "",
            'order': [[1, 'asc']],
            "columns": [
                {
                    "data": "Number", "autoWidth": true,
                },
                {
                    "data": "SupplierName", "autoWidth": true,
                    render: function (data, type, row) {
                        var $select = $("<select id='SupplierName" + (row.Number) + "' name='SupplierName" + (row.Number) + "' required></select>");

                        var optionhtml1 = $("<option></option>", {
                            "text":"----Select Supplier----",
                            "value":0
                        });
                        $select.append(optionhtml1);

                        $.each(test, function (i) {

                            var $option = $("<option></option>", {
                                "text": test[i].Text,
                                "value": test[i].Value
                            });
                            $select.append($option);

                        });
                        return $select.prop("outerHTML");

                    }
                },
        {
            "data": "SupplierUnitPrice", "autoWidth": true,
                render: function (data, type, row) {
                    return "<input class='form-control'  style='border:none' id='SupplierUnitPrice'" + row.Number + "' name='SupplierUnitPrice" + row.Number + "' type='number' min='0.01' step='0.01' max='2500'>";
                }
        }
            ]
        })
    </script>
}
