@model team7_ssis.ViewModels.CreateRequisitionViewModel

<div class="row mb-3">
    <div class="col-md-8">
        <h2>Create Requisition</h2>
    </div>
    <div class="col-md-4">
        <button id="createNewDraft" class="btn btn-default pull-right"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save as Draft</button>
    </div>
</div>

<div id="alert"></div>

<button id="addItemBtn" class="btn btn-default mb-3"><i class="fa fa-plus" aria-hidden="true"></i> Add Item</button>

<table id="myTable" class="table table-striped table-bordered" style="width: 100%">
    <thead>
        <tr>
            <th>Item Code</th>
            <th>Description</th>
            <th>Qty</th>
            <th></th>
        </tr>
    </thead>
</table>

<div class="row mt-3">
    <div class="col-md-12">
        <h3>Select Collection Point</h3>
        @*Bind input to List<CollectionPoint>*@
        <select id="collectionPointSelect" class="custom-select">
            @foreach (var collectionPoint in Model.SelectCollectionPointList)
            {
                <option value="@collectionPoint.CollectionPointId" @(Model.CollectionPointId == collectionPoint.CollectionPointId ? "selected" : "") >@collectionPoint.Name</option>
            }
        </select>

        <p>Once requisition in processed, you will receive an email on the pickup date. This will be the following Monday if the requisition was created by Wednesday.</p>
        <h3>Representative</h3>
        @Model.Representative
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-12">
        <button id="confirmBtn" class="btn btn-primary">Confirm</button>
    </div>
</div>

@Html.Partial("_AddItemModal")

<script>
    var myTable;

    $(document).ready(function () {
        // render main table
        myTable = $('#myTable').DataTable({
            columns: [
                {
                    data: "ItemCode",
                @if ( User.IsInRole("Employee") || User.IsInRole("DepartmentHead") )
                {
                    <text>
                    visible: false
                    </text>
                }
                },
                { data: "Description" },
                { data: "Quantity" },
                { defaultContent: '<i class="fa fa-times pointer" aria-hidden="true"></i>' }
            ],
            select: "api"
        });
    })

    // Click 'Confirm' button
    $('#confirmBtn').click(function () {
        CallApi(false);
    })

    // Click 'Create New Draft' button
    $('#createNewDraft').click(function () {
        CallApi(true);
    })

    function CallApi(isDraft) {
        var tableData = myTable.rows().data().toArray();
        var cpId = $('#collectionPointSelect').val();

        var data = { CollectionPointId: cpId, ItemList: [], IsDraft: isDraft };

        if (tableData.length > 0) {
            for (i = 0; i < tableData.length; i++) {
                data.ItemList[i] = { ItemCode: tableData[i].ItemCode, Qty: tableData[i].Quantity }
            }

            $.ajax({
                type: "POST",
                contentType: 'application/json',
                url: "/api/createrequisition",
                data: JSON.stringify(data),
                dataType: "json",
                success: function (rid) {
                    // post back to Manage Requisition
                    console.log("success");
                    var msg = '#' + rid + ' successfully created.';
                    post("/Requisition/ManageRequisitions", { msg });
                },
                error: function (msg) {
                    $('#alert').html(
                        '<div class="alert alert-danger" role="alert">' +
                        'An unexpected error occured.' +
                        '</div>'
                    );
                }
            });
        } else {
            $('#alert').html(
                '<div class="alert alert-danger" role="alert">' +
                'Please add some items to your Requisition.' +
                '</div>'
            );
        }
    }
</script>