@model team7_ssis.ViewModels.EditRequisitionViewModel

@section Scripts {
    <script src="~/Scripts/Custom/RedirectPost.js"></script>
}

<div class="row mb-3">
    <div class="col-md-8">
        <h2>Edit @(Model.StatusId == 3 ? "Draft" : "Requisition") #@Model.RequisitionId</h2>
    </div>
    <div class="col-md-4">
        <button id="saveNewDraft" class="btn btn-default pull-right"><i class="fa fa-files-o" aria-hidden="true"></i> Save as New Draft</button>
    </div>
</div>

<div id="alert"></div>

<button id="addItemBtn" class="btn btn-default mb-3"><i class="fa fa-plus" aria-hidden="true"></i> Add Item</button>

<table id="myTable" class="table table-striped table-bordered" style="width: 100%">
    <thead>
        <tr>
            <th>Item Code</th>
            <th>Description</th>
            <th>Qty</th>
            <th></th>
        </tr>
    </thead>
</table>

<div class="row mt-3">
    <div class="col-md-12">
        <h3>Select Collection Point</h3>
        @*Bind input to List<CollectionPoint>*@
        <select id="collectionPointSelect" class="custom-select">
            @foreach (var collectionPoint in Model.SelectCollectionPointList)
            {
                <option value="@collectionPoint.CollectionPointId" @(Model.CollectionPointId == collectionPoint.CollectionPointId ? "selected" : "")>@collectionPoint.Name</option>
            }
        </select>

        <p>Once requisition in processed, you will receive an email on the pickup date. This will be the following Monday if the requisition was created by Wednesday.</p>
        <h3>Representative</h3>
        @Model.Representative
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-8">
        <button id="saveChangesBtn" class="btn btn-default"><i class="fa fa-save" aria-hidden="true"></i> Save Changes</button>
        @if (Model.StatusId == 3) // Draft
        {
            <button id="submitApprovalBtn" class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i> Submit for Approval</button>
        }
    </div>
    <div class="col-md-4">
        @if (Model.StatusId == 4) // Pending Approval
        {
            <button id="cancelReqBtn" class="btn btn-danger pull-right"><i class="fa fa-trash" aria-hidden="true"></i> Cancel Requisition</button>
        }
    </div>
</div>

@Html.Partial("_AddItemModal")

<script>
    var myTable;

    $(document).ready(function () {
        // render main table
        myTable = $('#myTable').DataTable({
            ajax: {
                url: "/api/reqdetail/@Model.RequisitionId",
                dataSrc: ""
            },
            columns: [
                {
                    data: "ItemCode",
                @if ( User.IsInRole("Employee") || User.IsInRole("DepartmentHead") )
                {
                    <text>
                    visible: false
                    </text>
                }
                },
                { data: "Description" },
                { data: "Quantity" },
                { defaultContent: '<i class="fa fa-times pointer" aria-hidden="true"></i>' }
            ],
            select: "api"
        });
    })

    // Click "Cancel Requisition"
    $(document).on('click', '#cancelReqBtn', function () {
        post("/Requisition/Cancel", { rid: "@Model.RequisitionId" });
    })

    // Click 'Save Changes' button
    $('#saveChangesBtn').click(function () {
        var tableData = myTable.rows().data().toArray();
        var colPoint = $('#collectionPointSelect').val();
        var json = { CollectionPointId: colPoint, RequisitionId: "@Model.RequisitionId", ItemList: [], IsDraft: @( Model.StatusId == 3 ? "true" : "false" ) };
        console.log("save changes");
        CallApi(tableData, json);
    })

    // Click 'Submit for Approval' button
    $('#submitApprovalBtn').click(function () {
        var tableData = myTable.rows().data().toArray();
        var colPoint = $('#collectionPointSelect').val();
        var json = { CollectionPointId: colPoint, RequisitionId: "@Model.RequisitionId", ItemList: [], IsDraft: false };
        console.log("submit for approval");
        CallApi(tableData, json);
    })

    // Click "Save as New Draft" link
    $(document).on("click", "#saveNewDraft", function (e) {
        e.preventDefault();
        console.log("Create New Draft");
        post("/Requisition/Draft", { rid: "@Model.RequisitionId" });
    });

    function CallApi(data, json) {
        if (data.length > 0) {
            for (i = 0; i < data.length; i++) {
                json.ItemList[i] = { ItemCode: data[i].ItemCode, Qty: data[i].Quantity }
            }

            $.ajax({
                type: "POST",
                contentType: 'application/json',
                url: "/api/editrequisition",
                data: JSON.stringify(json),
                dataType: "json",
                success: function (rid) {
                    // post back to Manage Requisition
                    console.log("success");
                    var msg = '#' + rid + ' successfully updated.';
                    post("/Requisition/ManageRequisitions", { msg });
                },
                error: function (msg) {
                    $('#alert').html(
                        '<div class="alert alert-danger" role="alert">' +
                        'An unexpected error occured.' +
                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                        '<span aria-hidden="true">&times;</span>' +
                        '</button>' +
                        '</div>')
                }
            });
        } else {
            $('#alert').html(
                '<div class="alert alert-danger" role="alert">' +
                'Please add some items to your Requisition.' +
                '</div>'
            );
        }
    }
</script>