@model team7_ssis.ViewModels.RequisitionDetailViewModel

@{
    ViewBag.Title = "RequisitionDetails";
}

<h2 class="mb-3">Requisition Details</h2>
<div class="row mb-3">
    <div class="col-md-4">
        <div class="label">Requisition</div>
        @Model.RequisitionID
    </div>
    <div class="col-md-8">
        <div class="label">Department</div>
        @Model.Department
    </div>
    <div class="col-md-12">
        <div class="label">Collection Point</div>
        @Model.CollectionPoint
    </div>
    <div class="col-md-4">
        <div class="label">Created By</div>
        @Model.CreatedBy
    </div>
    <div class="col-md-4">
        <div class="label">Updated By</div>
        @Model.UpdatedBy
    </div>
    <div class="col-md-4">
        <div class="label">Approved By</div>
        @Model.ApprovedBy
    </div>
    <div class="col-md-4">
        <div class="label">Created Time</div>
        @Model.CreatedTime
    </div>
    <div class="col-md-4">
        <div class="label">Updated Time</div>
        @Model.UpdatedTime
    </div>
    <div class="col-md-4">
        <div class="label">Approved Time</div>
        @Model.UpdatedTime
    </div>
</div>

<table id="myTable" class="table table-striped table-bordered" style="width: 100%">
    <thead>
        <tr>
            <th>Item Code</th>
            <th>Description</th>
            <th>Qty</th>
            <th>Status</th>
        </tr>
    </thead>

</table>

@section Scripts {
    <script src="~/Scripts/Custom/RequisitionDetail.js"></script>
}